<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(faq) -%>">
  <span class='title'>
    <%= faq.title %>
  </span>

  <span class="preview">
      <% faq.translations.each do |translation| %>
        <% if translation.title.present? %>
          <%= link_to refinery_icon_tag("flags/#{translation.locale}.png", :size => '16x11'),
                      refinery.edit_faq_admin_faq_path(faq, :switch_locale => translation.locale),
                      :class => 'locale' %>
          <% end %>
      <% end %>
  </span>


  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.faq_faq_path(faq),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_faq_admin_faq_path(faq),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.faq_admin_faq_path(faq),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :data => {:confirm => t('message', :scope => 'refinery.admin.delete', :title => faq.title)},
        :method => :delete %>
  </span>
</li>

